:root {
    --header-height: 5%;
    --min-margin-left-right: 10%;
    --header-color: #004E98;
    --footer-color: #3A6EA5;
    --accent-color-1: #003c7c;
    --accent-color-2: #aeaeae;
    --accent-color-3: #EBEBEB;

}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
 }

html {
    padding-left: 50px;
    padding-right: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
}

body
{
    width: 100%;
    max-width: 800px;
    background-color: var(--accent-color-3);
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: var(--header-height);
    /* padding-left: var(--min-margin-left-right);
    padding-right: var(--min-margin-left-right);
    max-width: 1000px;
    min-width: 650px;
    background-color: blue;
    */
}

header {
    min-height: var(--header-height);
    position: fixed;
    width: 100%;
    padding: 0% 70px 0%;
    top: 0%;
    background-color: var(--header-color);
    display: flex;
    align-content: center;
    justify-content: space-between;
}

header>h1{
    color: var(--accent-color-1)
}

.top{
    flex-grow: 1;
    text-align: center;
}

header h1,
ul {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}


header ul li {
    float: right;
    display: inline;
    list-style-type: none;
    padding: 5px;
}

header ul a {
    text-decoration: none;
    background-color: var(--footer-color);
    text-decoration: none;
    color: var(--accent-color-3);
}

a{
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--footer-color);
    color: var(--accent-color-3);
}

content {
    padding: 15px;
    flex: 1 1 auto;
    width: 100%;
}

.question {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--accent-color-2);
}

img {
    object-fit: cover; 
    object-position: 100% 0;
    width: 100%;
    border-radius: 20px;
    border: 5px solid var(--accent-color-1);
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}

.information{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

.information>.fun_fact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    width: 20%;
    height: 100%;
}

.information>.fun_fact>img{
    border: 5px solid var(--accent-color-1);
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.information>.fun_fact>p{
    text-align: center;
}

.quote {
    padding: 10px 20%;
    background-color: var(--accent-color-2);
}

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 15% calc(3 * var(--header-height));
}

.email{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: var(--accent-color-1);
    padding: 20px 30px;
    color: white;
}

button {
    height: 40px;
    width: 100px;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 0% 70px 0%;
    min-height: var(--header-height);
    background-color: var(--header-color);
    width: 100%;
    display: inline-flex;
    justify-content: right;
    align-items: center;
    flex: 0 1 var(--header-height);
    color: var(--accent-color-3);
}