:root {
    --header-height: 5%;
    --min-margin-left-right: 10%;
    --header-color: #004E98;
    --footer-color: #3A6EA5;
    --accent-color-1: #FF6700;
    --accent-color-2: #C0C0C0;
    --accent-color-3: #EBEBEB;

}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
 }

html {
    padding-left: 50px;
    padding-right: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
}

body
{
    width: 100%;
    max-width: 800px;
    background-color: var(--accent-color-3);
}

header {
    min-height: var(--header-height);
    position: fixed;
    width: 100%;
    padding: 0% 70px 0%;
    top: 0%;
    background-color: var(--header-color);
    display: flex;
    align-content: center;
    justify-content: space-between;
}

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: var(--header-height);
    /* padding-left: var(--min-margin-left-right);
    padding-right: var(--min-margin-left-right);
    max-width: 1000px;
    min-width: 650px;
    background-color: blue;
    */
}

header h1,
ul {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}


header ul li {
    float: right;
    display: inline;
    list-style-type: none;
    padding: 5px;
}

header ul a {
    text-decoration: none;
    /* TODO: Get background color */
}

content {
    padding: 15px;
    flex: 1 1 auto;
    width: 100%;
}

/*
.question {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} */

footer {
    position: fixed;
    bottom: 0;
    min-height: var(--header-height);
    background-color: var(--footer-color);
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 var(--header-height);
}